jupyter 
lab 
dotenv 
torch 
torchvision 
torchaudio 
langchain
langchain-huggingface
langchain-openai
langchain-anthropic
langchain-aws 
langchain-community 
boto3
langchain-google-genai
transformers[torch]